/* Estilo básico para el cuerpo y el contenedor del mapa */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Es crucial darle una altura definida al contenedor del mapa */
#map {
    height: 600px; /* Puedes ajustar esta altura */
    width: 100%;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #f2f2f2;
}
